<!-- box begin -->
<div class="box alt">
	<div class="left-top-corner">
   	<div class="right-top-corner">
      	<div class="border-top"></div>
      </div>
   </div>
   <div class="border-left">
   	<div class="border-right">
      	<div class="inner">
         	<div class="wrapper">
               <h2>Site Navigation</h2>
               	<p><a href="/shop/coffee">Nut Products</a></p>
		<p><a href="/shop/goodies">Nut Crackers</a></p>
		<p><a href="/shop/sales">Sale Items</a></p>
		<p><a href="wishlist.php">Your Wishlist</a></p>
		<p><a href="cart.php">Cart</a></p>
		<p><a href="contact.php">Contact Us</a></p>
		<p><a href="newsletter.php">Newsletter</a></p>
         	</div>
         </div>
      </div>
   </div>
   <div class="left-bot-corner">
   	<div class="right-bot-corner">
      	<div class="border-bot"></div>
      </div>
   </div>
</div>
<!-- box end -->

